base_flows.json
[{"id":"d1e0943e.72ed5","type":"tab","label":"Bus","disabled":false,"info":""},{"id":"b8f6b8bc.1ed738","type":"tab","label":"Intents","disabled":false,"info":""},{"id":"770161f9.19c8c","type":"tab","label":"web_chat","disabled":false,"info":""},{"id":"c5fe7bd5.b168b8","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"1304b726.2ed479","type":"websocket-listener","z":"","path":"ws://nodered:KEY@127.0.0.1:6789","wholemsg":"false"},{"id":"43e2b615.4ef62","type":"ui_group","z":"","name":"Mycroft","tab":"68d2c379.6a7e9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"68d2c379.6a7e9c","type":"ui_tab","z":"","name":"NodeRed HiveMind","icon":"dashboard","disabled":false,"hidden":false},{"id":"21ce041.146777c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Mycroft Chat","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6b3f08ce.3fca","type":"websocket-listener","z":"","path":"ws://nodered:KEY@127.0.0.1:6789","wholemsg":"false"},{"id":"72931bf.d077c64","type":"ui_group","z":"","name":"Mycroft","tab":"583dd526.5ed5e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"583dd526.5ed5e4","type":"ui_tab","z":"","name":"NodeRed HiveMind","icon":"dashboard","disabled":false,"hidden":false},{"id":"c8b7b885.3befe8","type":"websocket in","z":"d1e0943e.72ed5","name":"mycroft-in","server":"1304b726.2ed479","client":"","x":80,"y":160,"wires":[["b4649a5.9acc268","87e5c06a.ae983"]]},{"id":"162b4c92.203af3","type":"websocket out","z":"d1e0943e.72ed5","name":"mycroft-out","server":"1304b726.2ed479","client":"","x":570,"y":460,"wires":[]},{"id":"f75ef6a9.83b29","type":"link out","z":"d1e0943e.72ed5","name":"intents-out","links":["f2cf3139.09a1a","d58f5eba.01b87","a90c65c8.1c5508"],"x":1135,"y":140,"wires":[]},{"id":"88fa9e4e.17d148","type":"link in","z":"d1e0943e.72ed5","name":"mycroft-out","links":["6cd02413.50dc4c","6e264383.34f004","1991ff96.63dba","aabdc698.feb8b","fe43b8e9.0dea3","2c755067.fb9e38","4b81b78c.4d184","34a86ce1.3591a4","bd4819aa.c0ba7","98204160.39aa98","cb050f6c.71cc88","86b01c38.02c0b"],"x":135,"y":420,"wires":[["838eb650.53f678"]]},{"id":"dd1ae50e.d49238","type":"switch","z":"d1e0943e.72ed5","name":"filter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"node_red.fallback","vt":"str"},{"t":"eq","v":"node_red.converse","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":140,"wires":[["846e00c0.451818"],["846e00c0.451818"]]},{"id":"ec4a7352.cdae98","type":"comment","z":"d1e0943e.72ed5","name":"Messages from Mycroft","info":"Incoming JSON payloads from Mycroft to Node-Red\n\n\n\t{\"type\": \"node_red.fallback\", \"data\": {\"utterance\": \"<text of utterance>\", \"norm_utt\": \"echo\", \"lang\": \"en-US\"}, \"context\": \t{\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}\n\n\n\t{\"type\": \"node_red.converse\", \"data\": {\"utterance\": \"<text of utterance>\"}, \"context\": {\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}","x":140,"y":40,"wires":[]},{"id":"87e5c06a.ae983","type":"debug","z":"d1e0943e.72ed5","name":"mycroft in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":240,"y":100,"wires":[]},{"id":"4000f5f.bb3880c","type":"comment","z":"d1e0943e.72ed5","name":"Messages to Mycroft","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\t{\"type\": \"node_red.answer\", \"data\": {\"utterance\": \"<answer from skill>\"},\"context\": {}}\n\n\t{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"<text of origional utterance>\"}, \"context\":{}}'}\n","x":350,"y":340,"wires":[]},{"id":"4138382b.4cbd5","type":"debug","z":"d1e0943e.72ed5","name":"mycroft-out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":380,"wires":[]},{"id":"b4649a5.9acc268","type":"json","z":"d1e0943e.72ed5","name":"","property":"payload","action":"","pretty":false,"x":230,"y":160,"wires":[["83a39982.a3407"]]},{"id":"9e55b710.e2a968","type":"link out","z":"d1e0943e.72ed5","name":"mycroft_in","links":["2a731659.270bb2"],"x":775,"y":240,"wires":[]},{"id":"846e00c0.451818","type":"function","z":"d1e0943e.72ed5","name":"extract utterance","func":"var msg = {payload: msg.payload.data.utterance};\nreturn msg","outputs":"1","noerr":0,"x":970,"y":140,"wires":[["f75ef6a9.83b29"]]},{"id":"b5f9f5a.d95fc08","type":"comment","z":"b8f6b8bc.1ed738","name":"Handle Intents here","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\t{\"type\": \"node_red.answer\", \"data\": {\"utterance\": \"<answer from skill>\"},\"context\": {}}\n\n\t{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"<text of origional utterance>\"}, \"context\":{}}'}\n","x":730,"y":160,"wires":[]},{"id":"1fc27577.846903","type":"switch","z":"b8f6b8bc.1ed738","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":260,"wires":[["aded097c.65476"],["3aa3011f.a7753e"],["c23687a0.0151"]]},{"id":"a90c65c8.1c5508","type":"link in","z":"b8f6b8bc.1ed738","name":"intents-in","links":["f75ef6a9.83b29"],"x":135,"y":260,"wires":[["1fc27577.846903","89b42913.10fb28"]]},{"id":"bd4819aa.c0ba7","type":"link out","z":"b8f6b8bc.1ed738","name":"","links":["88fa9e4e.17d148"],"x":1315,"y":240,"wires":[]},{"id":"3aa3011f.a7753e","type":"http request","z":"b8f6b8bc.1ed738","name":"http weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":280,"wires":[["49275543.9646a4"]]},{"id":"49275543.9646a4","type":"function","z":"b8f6b8bc.1ed738","name":"select","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n\"coord\": {\n\"lon\": -110.9,\n\"lat\": 32.3\n},\n\"weather\": [\n{\n\"id\": 800,\n\"main\": \"Clear\",\n\"description\": \"clear sky\",\n\"icon\": \"01d\"\n}\n],\n\"base\": \"stations\",\n\"main\": {\n\"temp\": 98.31,\n\"feels_like\": 94.05,\n\"temp_min\": 98.01,\n\"temp_max\": 99,\n\"pressure\": 1015,\n\"humidity\": 11\n},\n\"wind\": {\n\"speed\": 1.99,\n\"deg\": 337,\n\"gust\": 5.01\n},\n\"clouds\": {\n\"all\": 0\n},\n\"dt\": 1588193187,\n\"sys\": {\n\"type\": 3,\n\"id\": 2007774,\n\"country\": \"US\",\n\"sunrise\": 1588163906,\n\"sunset\": 1588212184\n},\n\"timezone\": -25200,\n\"id\": 5288786,\n\"name\": \"Catalina Foothills\",\n\"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":750,"y":280,"wires":[["95491489.0bf5f"]]},{"id":"95491489.0bf5f","type":"template","z":"b8f6b8bc.1ed738","name":"weather utterance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Node-Red says the temperature is {{payload}}","output":"str","x":950,"y":280,"wires":[["a8b84174.74745"]]},{"id":"aded097c.65476","type":"http request","z":"b8f6b8bc.1ed738","name":"http news rss","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":220,"wires":[["eb87983d.07249"]]},{"id":"eb87983d.07249","type":"xml","z":"b8f6b8bc.1ed738","name":"format","property":"payload","attr":"","chr":"","x":690,"y":220,"wires":[["fa337ab9.46fd98"]]},{"id":"fa337ab9.46fd98","type":"function","z":"b8f6b8bc.1ed738","name":"select","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\nreturn [msg1, msg2];\n\n// attach a debug node to previous node to look at\n// news feed results","outputs":"1","noerr":0,"x":810,"y":220,"wires":[["ea2b480f.2988e8"]]},{"id":"ea2b480f.2988e8","type":"template","z":"b8f6b8bc.1ed738","name":"news utterance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The leading headline from The Verge, {{payload}}","output":"str","x":960,"y":220,"wires":[["a8b84174.74745"]]},{"id":"89b42913.10fb28","type":"debug","z":"b8f6b8bc.1ed738","name":"utterance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":200,"wires":[]},{"id":"2655bdb6.3678aa","type":"ui_text_input","z":"770161f9.19c8c","name":"","label":"","tooltip":"","group":"43e2b615.4ef62","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":120,"y":160,"wires":[["2dbdc3b5.57ac14"]]},{"id":"bab04387.0d79e","type":"ui_text","z":"770161f9.19c8c","group":"43e2b615.4ef62","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":690,"y":80,"wires":[]},{"id":"73dce7d9.32142","type":"template","z":"770161f9.19c8c","name":"query json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"json","x":570,"y":160,"wires":[["98204160.39aa98"]]},{"id":"ffb15641.1100d8","type":"switch","z":"770161f9.19c8c","name":"speak filter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"speak","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":80,"wires":[["b671cc8f.fc0ac8"]]},{"id":"b671cc8f.fc0ac8","type":"function","z":"770161f9.19c8c","name":"extract","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:utterance}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"echo\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["bab04387.0d79e"]]},{"id":"98204160.39aa98","type":"link out","z":"770161f9.19c8c","name":"","links":["88fa9e4e.17d148"],"x":755,"y":160,"wires":[]},{"id":"2a731659.270bb2","type":"link in","z":"770161f9.19c8c","name":"chat_in","links":["9e55b710.e2a968"],"x":155,"y":80,"wires":[["ffb15641.1100d8"]]},{"id":"86b01c38.02c0b","type":"link out","z":"c5fe7bd5.b168b8","name":"","links":["88fa9e4e.17d148"],"x":715,"y":220,"wires":[]},{"id":"d59240cb.cfab3","type":"comment","z":"c5fe7bd5.b168b8","name":"ask mycroft - answer in web chat","info":"","x":290,"y":60,"wires":[]},{"id":"750441d5.5d0eb","type":"template","z":"c5fe7bd5.b168b8","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.tts\",\n\"data\": {\n    \"utterance\": \"{{payload}}\"\n},\n\"context\": {}\n}","output":"json","x":490,"y":200,"wires":[["86b01c38.02c0b"]]},{"id":"10099338.aba84d","type":"inject","z":"c5fe7bd5.b168b8","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":200,"wires":[["750441d5.5d0eb"]]},{"id":"928ecfb0.afac","type":"template","z":"c5fe7bd5.b168b8","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.query\",\n\"data\": {\n    \"utterances\": [\"{{payload}}\"]\n},\n\"context\": {}\n}","output":"json","x":440,"y":100,"wires":[["86b01c38.02c0b"]]},{"id":"1e378281.cdeefd","type":"inject","z":"c5fe7bd5.b168b8","name":"query hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":100,"wires":[["928ecfb0.afac"]]},{"id":"f3127b76.2ed8f8","type":"template","z":"c5fe7bd5.b168b8","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.activate\",\n\"data\": {},\n\"context\": {}\n}","output":"json","x":410,"y":440,"wires":[["86b01c38.02c0b"]]},{"id":"1533bd7b.4b8fb3","type":"inject","z":"c5fe7bd5.b168b8","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":440,"wires":[["f3127b76.2ed8f8"]]},{"id":"8e17fe27.3535a8","type":"template","z":"c5fe7bd5.b168b8","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.deactivate\",\n\"data\": {},\n\"context\": {}\n}","output":"json","x":400,"y":400,"wires":[["86b01c38.02c0b"]]},{"id":"f44abc77.f5b25","type":"inject","z":"c5fe7bd5.b168b8","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":400,"wires":[["8e17fe27.3535a8"]]},{"id":"795ebb67.565854","type":"comment","z":"c5fe7bd5.b168b8","name":"broadcast an utterance (trigger TTS)","info":"","x":300,"y":160,"wires":[]},{"id":"c2b1a237.98f34","type":"comment","z":"c5fe7bd5.b168b8","name":"node-red priority settings (converse on/off)","info":"","x":320,"y":360,"wires":[]},{"id":"1db07335.37989d","type":"template","z":"c5fe7bd5.b168b8","name":"mic_listen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.listen\",\n\"data\": {},\n\"context\": {}\n}","output":"json","x":440,"y":300,"wires":[["86b01c38.02c0b"]]},{"id":"97bccd1a.4a4c48","type":"inject","z":"c5fe7bd5.b168b8","name":"listen","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":300,"wires":[["1db07335.37989d"]]},{"id":"c01af4b8.ecc5e","type":"comment","z":"c5fe7bd5.b168b8","name":"make mycroft listen","info":"","x":310,"y":260,"wires":[]},{"id":"5805ef76.61945","type":"comment","z":"d1e0943e.72ed5","name":"Utterance -> Intents","info":"Send utterance string for intent parsing","x":950,"y":80,"wires":[]},{"id":"ce20a684.059bc8","type":"comment","z":"d1e0943e.72ed5","name":"Raw json -> message handlers","info":"Handle random bus messages\n\nSample usage in webchat","x":930,"y":240,"wires":[]},{"id":"785324fc.e7e374","type":"comment","z":"b8f6b8bc.1ed738","name":"Intent Failure","info":"DO NOT DELETE","x":570,"y":360,"wires":[]},{"id":"a8b84174.74745","type":"template","z":"b8f6b8bc.1ed738","name":"speak_payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.speak\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {}\n}","output":"json","x":1180,"y":240,"wires":[["bd4819aa.c0ba7"]]},{"id":"c23687a0.0151","type":"template","z":"b8f6b8bc.1ed738","name":"intent failure","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.intent_failure\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {}\n}","output":"json","x":550,"y":420,"wires":[["cb050f6c.71cc88"]]},{"id":"cb050f6c.71cc88","type":"link out","z":"b8f6b8bc.1ed738","name":"","links":["88fa9e4e.17d148"],"x":675,"y":420,"wires":[]},{"id":"83a39982.a3407","type":"change","z":"d1e0943e.72ed5","name":"save context","rules":[{"t":"set","p":"context","pt":"flow","to":"payload.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[["a0a0578e.7649b"]]},{"id":"838eb650.53f678","type":"change","z":"d1e0943e.72ed5","name":"","rules":[{"t":"set","p":"payload.context","pt":"msg","to":"context","tot":"flow"},{"t":"set","p":"payload.context.destination","pt":"msg","to":"destination","tot":"flow"},{"t":"set","p":"payload.context.source","pt":"msg","to":"NodeRed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["162b4c92.203af3","4138382b.4cbd5"]]},{"id":"a0a0578e.7649b","type":"change","z":"d1e0943e.72ed5","name":"set destination","rules":[{"t":"set","p":"destination","pt":"flow","to":"context.source","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[["dd1ae50e.d49238","9e55b710.e2a968"]]},{"id":"2dbdc3b5.57ac14","type":"change","z":"770161f9.19c8c","name":"set context","rules":[{"t":"set","p":"context","pt":"flow","to":"{\"source\": \"NodeRedChat\", \"destination\":\"skills\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["73dce7d9.32142"]]}]