sample_flow.txt
[{"id":"5cc1d04f.1439d","type":"websocket in","z":"2c0b50be.fd88d","name":"mycroft-in","server":"dee4197b.ebffb8","client":"","x":407.14283752441406,"y":465.4999771118164,"wires":[["8e790f03.8cfdd","f59e5e4e.04ecc"]]},{"id":"e264ddda.7f85b","type":"switch","z":"2c0b50be.fd88d","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"dot","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":791.1428375244141,"y":397.9999771118164,"wires":[["536b13d9.5f6aac"],["24b878fb.a0c4d8"],["3437c43a.36008c"],[],["18eaeef.6f80c11"]]},{"id":"536b13d9.5f6aac","type":"http request","z":"2c0b50be.fd88d","name":"http get news feed","method":"GET","ret":"txt","url":"http://www.theverge.com/rss/full.xml","tls":"","x":1051.142837524414,"y":277.4999771118164,"wires":[["9cc5c713.d8b528"]]},{"id":"9cc5c713.d8b528","type":"xml","z":"2c0b50be.fd88d","name":"format feed","attr":"","chr":"","x":1271.142837524414,"y":277.4999771118164,"wires":[["97a9ae5b.598c8"]]},{"id":"97a9ae5b.598c8","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\n\nreturn [msg1, msg2];","outputs":"1","noerr":0,"x":1471.142837524414,"y":277.4999771118164,"wires":[["3b11177a.e43ef8"]]},{"id":"3b11177a.e43ef8","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"The leading headline from The Verge, {{payload}}\"}, \"context\":{}}","output":"str","x":1731.142837524414,"y":277.4999771118164,"wires":[["1e054ecf.0b54b1"]]},{"id":"24b878fb.a0c4d8","type":"http request","z":"2c0b50be.fd88d","name":"http get weather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","x":1041.142837524414,"y":357.4999771118164,"wires":[["7f91e2cc.afc89c"]]},{"id":"7f91e2cc.afc89c","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg","outputs":"1","noerr":0,"x":1316.142837524414,"y":359.99998474121094,"wires":[["a5d7a364.21897"]]},{"id":"a5d7a364.21897","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"the temp is {{payload}}\"}, \"context\":{}}","output":"str","x":1731.142837524414,"y":357.4999771118164,"wires":[["1e054ecf.0b54b1"]]},{"id":"8e790f03.8cfdd","type":"switch","z":"2c0b50be.fd88d","name":"question filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"node_red.ask\"","vt":"str"}],"checkall":"true","outputs":1,"x":552.1428375244141,"y":389.4999771118164,"wires":[["e264ddda.7f85b"]]},{"id":"54d2b61d.244d48","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"{{payload}}\"}, \"context\":{}}","output":"str","x":1751.142837524414,"y":437.4999771118164,"wires":[["1e054ecf.0b54b1"]]},{"id":"3437c43a.36008c","type":"function","z":"2c0b50be.fd88d","name":"text response to hello","func":"var msg = {payload: \"node-red says hey\"};\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1061.142837524414,"y":437.4999771118164,"wires":[["54d2b61d.244d48"]]},{"id":"d31d8e8c.66757","type":"template","z":"2c0b50be.fd88d","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":1742.142822265625,"y":502.5,"wires":[["1e054ecf.0b54b1"]]},{"id":"4bc95816.aaa8b8","type":"comment","z":"2c0b50be.fd88d","name":"skill trigger words","info":"","x":801.1428375244141,"y":337.4999771118164,"wires":[]},{"id":"f59e5e4e.04ecc","type":"switch","z":"2c0b50be.fd88d","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":541.1428375244141,"y":578.4999771118164,"wires":[["116f41cb.27857e"]]},{"id":"1e054ecf.0b54b1","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":2078.71435546875,"y":401.0000305175781,"wires":[["134c92fe.cd3f5d"]]},{"id":"134c92fe.cd3f5d","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":2295.71435546875,"y":402.2857360839844,"wires":[]},{"id":"c8f825e4.1f5688","type":"comment","z":"2c0b50be.fd88d","name":"json payload test","info":"","x":1073.142837524414,"y":665.9999771118164,"wires":[]},{"id":"7aa07cb2.3836f4","type":"template","z":"2c0b50be.fd88d","name":"answer json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":1083.142837524414,"y":705.9999771118164,"wires":[["fb18dc4a.4e853"]]},{"id":"9fc08e30.92358","type":"inject","z":"2c0b50be.fd88d","name":"answer hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":843.1428375244141,"y":705.9999771118164,"wires":[["7aa07cb2.3836f4"]]},{"id":"fb18dc4a.4e853","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1340.142822265625,"y":706.5,"wires":[]},{"id":"b3c6a6cf.3d2fc8","type":"template","z":"2c0b50be.fd88d","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":1076,"y":768,"wires":[["3764f4bf.bbdc1c"]]},{"id":"867f4b19.573598","type":"inject","z":"2c0b50be.fd88d","name":"ask hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":836,"y":768,"wires":[["b3c6a6cf.3d2fc8"]]},{"id":"3764f4bf.bbdc1c","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1342.999984741211,"y":768.5000228881836,"wires":[]},{"id":"18eaeef.6f80c11","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1037,"y":519,"wires":[["d31d8e8c.66757"]]},{"id":"116f41cb.27857e","type":"debug","z":"2c0b50be.fd88d","name":"","active":true,"console":"false","complete":"false","x":780,"y":579,"wires":[]},{"id":"dee4197b.ebffb8","type":"websocket-listener","z":"","path":"ws://test:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"a6d3befa.598a","type":"websocket-client","z":"","path":"ws://test:test_key@127.0.0.1:6789","wholemsg":"false"}]