sample_flow.txt
[{"id":"5cc1d04f.1439d","type":"websocket in","z":"2c0b50be.fd88d","name":"mycroft-fallback","server":"dee4197b.ebffb8","client":"","x":341.142822265625,"y":523.4999694824219,"wires":[["8e790f03.8cfdd","b357bd59.63db","fb628264.692ad"]]},{"id":"e264ddda.7f85b","type":"switch","z":"2c0b50be.fd88d","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":791.1428375244141,"y":397.9999771118164,"wires":[["536b13d9.5f6aac"],["24b878fb.a0c4d8"],["3437c43a.36008c"],["e95f88d9.e34808"],["18eaeef.6f80c11"]]},{"id":"536b13d9.5f6aac","type":"http request","z":"2c0b50be.fd88d","name":"http get news feed","method":"GET","ret":"txt","url":"http://www.theverge.com/rss/full.xml","tls":"","x":1051.142837524414,"y":277.4999771118164,"wires":[["9cc5c713.d8b528"]]},{"id":"9cc5c713.d8b528","type":"xml","z":"2c0b50be.fd88d","name":"format feed","attr":"","chr":"","x":1271.142837524414,"y":277.4999771118164,"wires":[["97a9ae5b.598c8"]]},{"id":"97a9ae5b.598c8","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\n\nreturn [msg1, msg2];","outputs":"1","noerr":0,"x":1471.142837524414,"y":277.4999771118164,"wires":[["3b11177a.e43ef8"]]},{"id":"3b11177a.e43ef8","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"The leading headline from The Verge, {{payload}}\"}, \"context\":{}}","output":"str","x":1731.142837524414,"y":277.4999771118164,"wires":[["1e054ecf.0b54b1"]]},{"id":"24b878fb.a0c4d8","type":"http request","z":"2c0b50be.fd88d","name":"http get weather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","x":1041.142837524414,"y":357.4999771118164,"wires":[["7f91e2cc.afc89c"]]},{"id":"7f91e2cc.afc89c","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg","outputs":"1","noerr":0,"x":1316.142837524414,"y":359.99998474121094,"wires":[["a5d7a364.21897"]]},{"id":"a5d7a364.21897","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"the temp is {{payload}}\"}, \"context\":{}}","output":"str","x":1731.142837524414,"y":357.4999771118164,"wires":[["1e054ecf.0b54b1"]]},{"id":"8e790f03.8cfdd","type":"switch","z":"2c0b50be.fd88d","name":"question filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"node_red.ask\"","vt":"str"}],"checkall":"true","outputs":1,"x":610.142822265625,"y":405.4999694824219,"wires":[["e264ddda.7f85b"]]},{"id":"54d2b61d.244d48","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"{{payload}}\"}, \"context\":{}}","output":"str","x":1751.142822265625,"y":425.4999694824219,"wires":[["1e054ecf.0b54b1"]]},{"id":"3437c43a.36008c","type":"function","z":"2c0b50be.fd88d","name":"text response to hello","func":"var msg = {payload: \"node-red says hey\"};\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1061.142822265625,"y":422.4999694824219,"wires":[["54d2b61d.244d48"]]},{"id":"d31d8e8c.66757","type":"template","z":"2c0b50be.fd88d","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":1742.1428451538086,"y":520.0000076293945,"wires":[["1e054ecf.0b54b1"]]},{"id":"4bc95816.aaa8b8","type":"comment","z":"2c0b50be.fd88d","name":"skill trigger words","info":"","x":801.1428375244141,"y":337.4999771118164,"wires":[]},{"id":"1e054ecf.0b54b1","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":2078.71435546875,"y":401.0000305175781,"wires":[["134c92fe.cd3f5d","74997cb6.cc3224"]]},{"id":"134c92fe.cd3f5d","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":2295.71435546875,"y":402.2857360839844,"wires":[]},{"id":"c8f825e4.1f5688","type":"comment","z":"2c0b50be.fd88d","name":"json payload test","info":"","x":846.8928375244141,"y":832.2500095367432,"wires":[]},{"id":"7aa07cb2.3836f4","type":"template","z":"2c0b50be.fd88d","name":"answer json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":856.8928375244141,"y":872.2500095367432,"wires":[["fb18dc4a.4e853"]]},{"id":"9fc08e30.92358","type":"inject","z":"2c0b50be.fd88d","name":"answer hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":616.8928375244141,"y":872.2500095367432,"wires":[["7aa07cb2.3836f4"]]},{"id":"fb18dc4a.4e853","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1113.892822265625,"y":872.7500324249268,"wires":[]},{"id":"18eaeef.6f80c11","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1037,"y":519,"wires":[["d31d8e8c.66757"]]},{"id":"92581487.196268","type":"debug","z":"2c0b50be.fd88d","name":"mycroft answers","active":true,"console":"false","complete":"payload","x":870.7500152587891,"y":576.7500076293945,"wires":[]},{"id":"b357bd59.63db","type":"switch","z":"2c0b50be.fd88d","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":632,"y":528,"wires":[["92581487.196268"]]},{"id":"e2997bfa.c3a6c8","type":"template","z":"2c0b50be.fd88d","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":850.75,"y":937.2500324249268,"wires":[["e35c3687.31fe28"]]},{"id":"292c65f.9859b9a","type":"inject","z":"2c0b50be.fd88d","name":"ask hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":610.75,"y":937.2500324249268,"wires":[["e2997bfa.c3a6c8"]]},{"id":"e35c3687.31fe28","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1117.749984741211,"y":937.7500553131104,"wires":[]},{"id":"74997cb6.cc3224","type":"debug","z":"2c0b50be.fd88d","name":"fallback out","active":true,"console":"false","complete":"payload","x":2234,"y":503,"wires":[]},{"id":"e95f88d9.e34808","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: \"this is the echo\"};\nreturn msg","outputs":"1","noerr":0,"x":1036,"y":471,"wires":[["ff7e1769.c01ef8"]]},{"id":"ff7e1769.c01ef8","type":"template","z":"2c0b50be.fd88d","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"{{payload}}\"}, \"context\":{}}","output":"str","x":1744,"y":470,"wires":[["1e054ecf.0b54b1"]]},{"id":"fb628264.692ad","type":"switch","z":"2c0b50be.fd88d","name":"converse filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"converse","vt":"str"}],"checkall":"true","outputs":1,"x":634,"y":647,"wires":[["9d8248e1.799898","6f92cb1.1d74734"]]},{"id":"2c77ca2e.b53c16","type":"template","z":"2c0b50be.fd88d","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\":{}, \"context\":{}}","output":"str","x":882.5,"y":1005,"wires":[["1ba0db99.169eb4"]]},{"id":"f564adf4.9b697","type":"inject","z":"2c0b50be.fd88d","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":622.5,"y":1005,"wires":[["2c77ca2e.b53c16"]]},{"id":"1ba0db99.169eb4","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1119.499984741211,"y":1005.5000228881836,"wires":[]},{"id":"a9e528f3.8c1748","type":"template","z":"2c0b50be.fd88d","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":887.5000114440918,"y":1060.000015258789,"wires":[["70735362.d176bc"]]},{"id":"ef0cfca7.75fcd","type":"inject","z":"2c0b50be.fd88d","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":617.5000114440918,"y":1060.000015258789,"wires":[["a9e528f3.8c1748"]]},{"id":"70735362.d176bc","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1114.4999961853027,"y":1060.5000381469727,"wires":[]},{"id":"693e93ef.a608cc","type":"template","z":"2c0b50be.fd88d","name":"conversing json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"this is converse inside node red\"}, \"context\":{}}","output":"str","x":1406.2500305175781,"y":696.7500114440918,"wires":[["897038ae.720f98"]]},{"id":"9d8248e1.799898","type":"switch","z":"2c0b50be.fd88d","name":"converse stage","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"else"},{"t":"cont","v":"ask mycroft","vt":"str"}],"checkall":"true","outputs":3,"x":1042.500015258789,"y":657.5000095367432,"wires":[["1beef893.852be7","c6d3d04f.ef72"],["693e93ef.a608cc"],["4d057e9c.0ca68"]]},{"id":"897038ae.720f98","type":"function","z":"2c0b50be.fd88d","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1782.5000267028809,"y":680.0000095367432,"wires":[["8391ab23.f0c1c8","85951420.d0e608"]]},{"id":"8391ab23.f0c1c8","type":"websocket out","z":"2c0b50be.fd88d","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":1982.0000343322754,"y":717.5357151031494,"wires":[]},{"id":"85951420.d0e608","type":"debug","z":"2c0b50be.fd88d","name":"converse out","active":true,"console":"false","complete":"payload","x":2000.0000305175781,"y":645.0000095367432,"wires":[]},{"id":"1beef893.852be7","type":"template","z":"2c0b50be.fd88d","name":"stop converse json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":1411.2500228881836,"y":640.5000095367432,"wires":[["897038ae.720f98"]]},{"id":"46842bf2.7bcf54","type":"template","z":"2c0b50be.fd88d","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":1453.7500228881836,"y":790.0000114440918,"wires":[["897038ae.720f98"]]},{"id":"4d057e9c.0ca68","type":"string","z":"2c0b50be.fd88d","name":"parse","methods":[{"name":"replaceAll","params":[{"type":"str","value":"ask mycroft"},{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1241.2500190734863,"y":751.2500114440918,"wires":[["46842bf2.7bcf54"]]},{"id":"6f92cb1.1d74734","type":"debug","z":"2c0b50be.fd88d","name":"converse in","active":true,"console":"false","complete":"payload","x":830,"y":735,"wires":[]},{"id":"c6d3d04f.ef72","type":"template","z":"2c0b50be.fd88d","name":"stop converse speak json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"converse inside node is off\"}, \"context\":{}}","output":"str","x":1442,"y":598,"wires":[["897038ae.720f98"]]},{"id":"dee4197b.ebffb8","type":"websocket-listener","z":"","path":"ws://fallback:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"a6d3befa.598a","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"}]