sample_flow.txt
[{"id":"a561902b.30383","type":"tab","label":"Flow 1"},{"id":"50c79538.634bec","type":"websocket in","z":"a561902b.30383","name":"mycroft-in","server":"a28a8e99.8ea39","client":"","x":280,"y":1160,"wires":[["e3a328ec.a62638","b57d2027.67e4e"]]},{"id":"48a2c725.681738","type":"switch","z":"a561902b.30383","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"dot","vt":"str"},{"t":"cont","v":"hello","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":820,"y":840,"wires":[["b2733fe4.dd1b5"],["8d2e6378.03d5f"],["be5100d1.097d5"],["9c72c2de.1aa96"],[]]},{"id":"b2733fe4.dd1b5","type":"http request","z":"a561902b.30383","name":"http get news feed","method":"GET","ret":"txt","url":"http://www.theverge.com/rss/full.xml","tls":"","x":1160,"y":720,"wires":[["3c7acb9e.229824"]]},{"id":"3c7acb9e.229824","type":"xml","z":"a561902b.30383","name":"format feed","attr":"","chr":"","x":1380,"y":720,"wires":[["bcf97471.d56de8"]]},{"id":"bcf97471.d56de8","type":"function","z":"a561902b.30383","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\n\nreturn [msg1, msg2];","outputs":"1","noerr":0,"x":1580,"y":720,"wires":[["73f5efa.972261"]]},{"id":"73f5efa.972261","type":"template","z":"a561902b.30383","name":"json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node.answer\", \"data\":{\"utterance\": \"The leading headline from The Verge, {{payload}}\"}, \"context\":{}}","output":"str","x":1810,"y":720,"wires":[["72bc7b70.7b12d4"]]},{"id":"8d2e6378.03d5f","type":"http request","z":"a561902b.30383","name":"http get weather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","x":1150,"y":800,"wires":[["34f83e60.80c372"]]},{"id":"34f83e60.80c372","type":"function","z":"a561902b.30383","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg","outputs":"1","noerr":0,"x":1425,"y":802.5000076293945,"wires":[["aefbeba9.856058"]]},{"id":"aefbeba9.856058","type":"template","z":"a561902b.30383","name":"json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node.answer\", \"data\":{\"utterance\": \"the temp is {{payload}}\"}, \"context\":{}}","output":"str","x":1810,"y":800,"wires":[["72bc7b70.7b12d4"]]},{"id":"e3a328ec.a62638","type":"switch","z":"a561902b.30383","name":"messagebus filter - question","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"node.ask\"","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":840,"wires":[["48a2c725.681738"]]},{"id":"72bc7b70.7b12d4","type":"websocket out","z":"a561902b.30383","name":"mycroft - out","server":"","client":"8f7b9a30.9fdcb8","x":2180,"y":1120,"wires":[]},{"id":"ad1bc17b.7c5ac","type":"template","z":"a561902b.30383","name":"json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node.answer\", \"data\":{\"utterance\": \"{{payload}}\"}, \"context\":{}}","output":"str","x":1830,"y":880,"wires":[["72bc7b70.7b12d4"]]},{"id":"be5100d1.097d5","type":"function","z":"a561902b.30383","name":"text response to hello","func":"var msg = {payload: \"node-red says hey\"};\n\nreturn msg;\n","outputs":"1","noerr":0,"x":1170,"y":880,"wires":[["ad1bc17b.7c5ac"]]},{"id":"9c72c2de.1aa96","type":"string","z":"a561902b.30383","name":"parse","methods":[{"name":"between","params":[{"type":"str","value":"echo"},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1120,"y":960,"wires":[["1aa57ed4.e161c1"]]},{"id":"54387d11.83e014","type":"template","z":"a561902b.30383","name":"json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node.intent_failure\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":1810,"y":960,"wires":[["72bc7b70.7b12d4"]]},{"id":"1aa57ed4.e161c1","type":"function","z":"a561902b.30383","name":"select data","func":"var msg = {payload: msg.payload};\n\nreturn [msg];","outputs":"1","noerr":0,"x":1500,"y":960,"wires":[["54387d11.83e014"]]},{"id":"b57d2027.67e4e","type":"switch","z":"a561902b.30383","name":"messagebus filter - answer","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":550,"y":1340,"wires":[[]]},{"id":"a28a8e99.8ea39","type":"websocket-listener","z":"","path":"wss://user:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"8f7b9a30.9fdcb8","type":"websocket-client","z":"","path":"wss://user:test_key@127.0.0.1:6789","wholemsg":"false"}]