Server_API_Flow
[{"id":"fbc58491.29b478","type":"function","z":"351b81f2.5f1806","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload.action can consis one of actions: request, feedback\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state or the feedback \n\ncontext.loop = context.loop || \"feedback\";\ncontext.loops = context.loops || 0;\nmsg.action = global.get(\"loop\");\nif(context.loops > 10){\n    msg.action = \"feedback\";\n    global.set(\"feedback\",\"I was not able to handle your request\")\n}\nswitch (msg.action) {\n\tcase \"feedback\":\n//\t\tcontext.loops = context.loops + 1;\n        context.loops = 0;\n\t\tmsg.action = \"feedback\";\n\t\tmsg.req.params.name = global.get(\"feedback\");\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"request\":\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.action = \"requested:\"+ context.loops;\n\t\treturn [null,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.action = \"loop:\" + context.loops;\n\t\t\treturn [null,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":570,"y":140,"wires":[["e9b4d710.09e7e","3ff26eed.dd0de2"],["8d95b6f1.5aa5f8","5a5934f.6531fcc"]]},{"id":"8d95b6f1.5aa5f8","type":"delay","z":"351b81f2.5f1806","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["fbc58491.29b478"]]},{"id":"e9b4d710.09e7e","type":"debug","z":"351b81f2.5f1806","name":"","active":false,"console":"false","complete":"req.params.name","x":1020,"y":60,"wires":[]},{"id":"34f2892b.ee27ae","type":"http response","z":"351b81f2.5f1806","name":"","x":990,"y":140,"wires":[]},{"id":"3ff26eed.dd0de2","type":"template","z":"351b81f2.5f1806","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.params.name}}","x":830,"y":140,"wires":[["34f2892b.ee27ae"]]},{"id":"f629bc7f.891488","type":"http in","z":"351b81f2.5f1806","name":"","url":"/cdl/:name","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["f821c3bd.2dfdb"]]},{"id":"f821c3bd.2dfdb","type":"function","z":"351b81f2.5f1806","name":"function","func":"global.set(\"loop\",\"request\");\nglobal.set(\"feedback\",\"pending\");\nvar question = msg.req.params.name.toLowerCase();\nmsg.payload =question;\nmsg.action = \"request\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["fbc58491.29b478","aa4e7c72.b62368"]]},{"id":"e2028bbe.085e1","type":"function","z":"351b81f2.5f1806","name":"Reply to global variable","func":"global.set(\"loop\",\"feedback\");\nglobal.set(\"feedback\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["ac44dc4.8ba4aa"]]},{"id":"ac44dc4.8ba4aa","type":"debug","z":"351b81f2.5f1806","name":"","active":false,"console":"false","complete":"false","x":1070,"y":420,"wires":[]},{"id":"5a5934f.6531fcc","type":"debug","z":"351b81f2.5f1806","name":"","active":false,"console":"false","complete":"action","x":990,"y":220,"wires":[]},{"id":"aa4e7c72.b62368","type":"template","z":"351b81f2.5f1806","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":400,"y":200,"wires":[["a47e7bba.1a6b88"]]},{"id":"a47e7bba.1a6b88","type":"websocket out","z":"351b81f2.5f1806","name":"mycroft-out","server":"","client":"ca7feb36.0e90f8","x":430,"y":260,"wires":[]},{"id":"7f3651e7.662a6","type":"websocket in","z":"351b81f2.5f1806","name":"mycroft-feedback","server":"8f47f251.9071","client":"","x":110,"y":420,"wires":[["564b4ac8.5ac3b4","e2028bbe.085e1"]]},{"id":"564b4ac8.5ac3b4","type":"debug","z":"351b81f2.5f1806","name":"","active":true,"console":"false","complete":"false","x":282,"y":488.75,"wires":[]},{"id":"ca7feb36.0e90f8","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"8f47f251.9071","type":"websocket-listener","z":"","path":"ws://fallback:test_key@127.0.0.1:6789","wholemsg":"false"}]
