Server_API_flow.txt
[{"id":"c60464dd.36458","type":"function","z":"44933d1e.ef8274","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload.action can consis one of actions: request, feedback\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state or the feedback \n\ncontext.loop = context.loop || \"feedback\";\ncontext.loops = context.loops || 0;\nmsg.action = global.get(\"loop\");\nif(context.loops > 10){\n msg.action = \"feedback\";\n global.set(\"feedback\",\"I was not able to handle your request\")\n}\nswitch (msg.action) {\n\tcase \"feedback\":\n//\t\tcontext.loops = context.loops + 1;\n context.loops = 0;\n\t\tmsg.action = \"feedback\";\n\t\tmsg.req.params.name = global.get(\"feedback\");\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"request\":\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.action = \"requested:\"+ context.loops;\n\t\treturn [null,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.action = \"loop:\" + context.loops;\n\t\t\treturn [null,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"x":555,"y":145,"wires":[["e36f4539.40c3f8","7792d22a.c5e1f4"],["56ba031e.fe0fbc","9654dc0c.5d1dd"]]},{"id":"56ba031e.fe0fbc","type":"delay","z":"44933d1e.ef8274","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":565,"y":225,"wires":[["c60464dd.36458"]]},{"id":"e36f4539.40c3f8","type":"debug","z":"44933d1e.ef8274","name":"","active":false,"console":"false","complete":"req.params.name","x":1005,"y":65,"wires":[]},{"id":"fdf468ff.542a9","type":"http response","z":"44933d1e.ef8274","name":"","x":975,"y":145,"wires":[]},{"id":"7792d22a.c5e1f4","type":"template","z":"44933d1e.ef8274","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.params.name}}","x":815,"y":145,"wires":[["fdf468ff.542a9"]]},{"id":"faf90432.67c638","type":"http in","z":"44933d1e.ef8274","name":"","url":"/cdl/:name","method":"get","upload":false,"swaggerDoc":"","x":85,"y":145,"wires":[["793fe59e.aa61fc"]]},{"id":"793fe59e.aa61fc","type":"function","z":"44933d1e.ef8274","name":"function","func":"global.set(\"loop\",\"request\");\nglobal.set(\"feedback\",\"pending\");\nvar question = msg.req.params.name.toLowerCase();\nmsg.payload =question;\nmsg.action = \"request\";\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":145,"wires":[["c60464dd.36458","2ea225eb.0b512a"]]},{"id":"7452eb80.aa4bac","type":"function","z":"44933d1e.ef8274","name":"Reply to global variable","func":"global.set(\"loop\",\"feedback\");\nglobal.set(\"feedback\",msg.payload.data.utterance);\nreturn msg;","outputs":1,"noerr":0,"x":735,"y":425,"wires":[["4b0b6e36.b5ea18"]]},{"id":"4b0b6e36.b5ea18","type":"debug","z":"44933d1e.ef8274","name":"","active":false,"console":"false","complete":"false","x":1055,"y":425,"wires":[]},{"id":"9654dc0c.5d1dd","type":"debug","z":"44933d1e.ef8274","name":"","active":false,"console":"false","complete":"action","x":975,"y":225,"wires":[]},{"id":"2ea225eb.0b512a","type":"template","z":"44933d1e.ef8274","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":385,"y":205,"wires":[["b13bec79.c1f3d"]]},{"id":"b13bec79.c1f3d","type":"websocket out","z":"44933d1e.ef8274","name":"mycroft-out","server":"","client":"f0672b81.3cc43","x":415,"y":265,"wires":[]},{"id":"ed970404.875de8","type":"websocket in","z":"44933d1e.ef8274","name":"mycroft-feedback","server":"73cdcc0c.6a0be4","client":"","x":95,"y":425,"wires":[["6a50117d.5719d8","a1b895cd.637218"]]},{"id":"6a50117d.5719d8","type":"debug","z":"44933d1e.ef8274","name":"","active":true,"console":"false","complete":"false","x":267,"y":493.75,"wires":[]},{"id":"a1b895cd.637218","type":"json","z":"44933d1e.ef8274","name":"","pretty":false,"x":427.5,"y":453,"wires":[["7452eb80.aa4bac"]]},{"id":"f0672b81.3cc43","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"73cdcc0c.6a0be4","type":"websocket-listener","z":"","path":"ws://api:test_key@127.0.0.1:6789","wholemsg":"false"}]
