web_chat_flow.txt
[{"id":"74eb6031.5f3918","type":"exec","z":"e7411880.26fb8","command":"/home/internet/mycroft-core/start-mycroft.sh debug","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"start mycroft","x":561,"y":355.71429443359375,"wires":[[],[],[]]},{"id":"3a476c9d.6da094","type":"ui_button","z":"e7411880.26fb8","name":"","group":"4482ae57.bfc18","order":3,"width":"6","height":"1","passthru":false,"label":"start mycroft","color":"","bgcolor":"#496959","icon":"","payload":"","payloadType":"str","topic":"","x":321,"y":355.71429443359375,"wires":[["74eb6031.5f3918"]]},{"id":"ab288d7c.337118","type":"ui_button","z":"e7411880.26fb8","name":"","group":"4482ae57.bfc18","order":4,"width":"6","height":"1","passthru":false,"label":"stop mycroft","color":"","bgcolor":"#694962","icon":"","payload":"","payloadType":"str","topic":"","x":321,"y":415.71429443359375,"wires":[["c03d8076.5441b8"]]},{"id":"c03d8076.5441b8","type":"exec","z":"e7411880.26fb8","command":"/home/internet/mycroft-core/stop-mycroft.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop mycroft","x":561,"y":415.71429443359375,"wires":[[],[],[]]},{"id":"d416558a.8614e8","type":"ui_text_input","z":"e7411880.26fb8","name":"","label":"","group":"4482ae57.bfc18","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":196.71427154541016,"y":259.9999752044678,"wires":[["8ab169e5.d2779"]]},{"id":"5027dabc.90dd8c","type":"ui_text","z":"e7411880.26fb8","group":"4482ae57.bfc18","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":906.7142753601074,"y":180,"wires":[]},{"id":"3725c65c.0736a2","type":"string","z":"e7411880.26fb8","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"utterance\": \""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":676.7142715454102,"y":180.00001335144043,"wires":[["5027dabc.90dd8c"]]},{"id":"8ab169e5.d2779","type":"template","z":"e7411880.26fb8","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":472.42852783203125,"y":258.5714454650879,"wires":[["fe916a9f.cd415"]]},{"id":"fe916a9f.cd415","type":"websocket out","z":"e7411880.26fb8","name":"mycroft-out","server":"","client":"df8fd586.ed7dd8","x":739.4285125732422,"y":259.0714683532715,"wires":[]},{"id":"7ee7b446.500ff4","type":"websocket in","z":"e7411880.26fb8","name":"mycroft-fallback","server":"70d580fc.8365","client":"","x":202.42855072021484,"y":180.0000114440918,"wires":[["30fb5e18.3e683a"]]},{"id":"30fb5e18.3e683a","type":"switch","z":"e7411880.26fb8","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":474.71431732177734,"y":181.6429042816162,"wires":[["3725c65c.0736a2"]]},{"id":"4482ae57.bfc18","type":"ui_group","z":"","name":"mycroft","tab":"6b9d4fe7.165d78","disp":true,"width":"6"},{"id":"df8fd586.ed7dd8","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"70d580fc.8365","type":"websocket-listener","z":"","path":"ws://chat:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"6b9d4fe7.165d78","type":"ui_tab","z":"","name":"home","icon":"dashboard"}]
