web_chat_flow.txt
[{"id":"dcf78269.1d5c4","type":"exec","z":"328a00a1.ebff","command":"/home/internet/mycroft-core/start-mycroft.sh debug","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"start mycroft","x":647.1428833007812,"y":462.8571434020996,"wires":[[],[],[]]},{"id":"6a7d44d4.4a615c","type":"ui_button","z":"328a00a1.ebff","name":"","group":"b0976a8c.ed4628","order":3,"width":"6","height":"1","passthru":false,"label":"start mycroft","color":"","bgcolor":"#496959","icon":"","payload":"","payloadType":"str","topic":"","x":407.14288330078125,"y":462.8571434020996,"wires":[["dcf78269.1d5c4"]]},{"id":"f3950bb.ac106f8","type":"ui_button","z":"328a00a1.ebff","name":"","group":"b0976a8c.ed4628","order":4,"width":"6","height":"1","passthru":false,"label":"stop mycroft","color":"","bgcolor":"#694962","icon":"","payload":"","payloadType":"str","topic":"","x":407.14288330078125,"y":522.8571434020996,"wires":[["e5c17e00.b72fb"]]},{"id":"e5c17e00.b72fb","type":"exec","z":"328a00a1.ebff","command":"/home/internet/mycroft-core/stop-mycroft.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"stop mycroft","x":647.1428833007812,"y":522.8571434020996,"wires":[[],[],[]]},{"id":"ff68464b.e1d6f8","type":"ui_text_input","z":"328a00a1.ebff","name":"","label":"","group":"b0976a8c.ed4628","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":282.8571548461914,"y":367.14282417297363,"wires":[["9918fe01.d48d4"]]},{"id":"ac99895f.d6fcb8","type":"ui_text","z":"328a00a1.ebff","group":"b0976a8c.ed4628","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":992.8571586608887,"y":287.14284896850586,"wires":[]},{"id":"3fe4ba90.1310b6","type":"string","z":"328a00a1.ebff","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"utterance\": \""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":762.8571548461914,"y":287.1428623199463,"wires":[["ac99895f.d6fcb8"]]},{"id":"9918fe01.d48d4","type":"template","z":"328a00a1.ebff","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":558.5714111328125,"y":365.71429443359375,"wires":[["2f6c747b.0627fc"]]},{"id":"2f6c747b.0627fc","type":"websocket out","z":"328a00a1.ebff","name":"mycroft-out","server":"","client":"a6d3befa.598a","x":825.5713958740234,"y":366.21431732177734,"wires":[]},{"id":"e98688fc.d21658","type":"websocket in","z":"328a00a1.ebff","name":"mycroft-fallback","server":"dee4197b.ebffb8","client":"","x":288.5714340209961,"y":287.14286041259766,"wires":[["71f7cb67.621304"]]},{"id":"71f7cb67.621304","type":"switch","z":"328a00a1.ebff","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":560.8572006225586,"y":288.78575325012207,"wires":[["3fe4ba90.1310b6"]]},{"id":"b0976a8c.ed4628","type":"ui_group","z":"","name":"mycroft","tab":"c5591ebe.afcc3","disp":true,"width":"6"},{"id":"a6d3befa.598a","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"dee4197b.ebffb8","type":"websocket-listener","z":"","path":"ws://fallback:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"c5591ebe.afcc3","type":"ui_tab","z":"","name":"home","icon":"dashboard"}]