sample_flows/bus.txt
[{"id":"cf2cd867.97a3b","type":"tab","label":"Bus","disabled":false,"info":""},{"id":"4b774fc7.3f10d","type":"websocket in","z":"cf2cd867.97a3b","name":"mycroft-in","server":"1304b726.2ed479","client":"","x":140,"y":320,"wires":[["3adfc4bf.a4fc94","39cf9610.30fd2a"]]},{"id":"4267054.338c97c","type":"websocket out","z":"cf2cd867.97a3b","name":"mycroft-out","server":"1304b726.2ed479","client":"","x":1130,"y":320,"wires":[]},{"id":"c0e602.a74a2a","type":"link out","z":"cf2cd867.97a3b","name":"intents-out","links":["f2cf3139.09a1a","d58f5eba.01b87"],"x":795,"y":320,"wires":[]},{"id":"f36232d5.393168","type":"link in","z":"cf2cd867.97a3b","name":"mycroft-out","links":["6cd02413.50dc4c","6e264383.34f004","1991ff96.63dba","aabdc698.feb8b","fe43b8e9.0dea3","2c755067.fb9e38","4b81b78c.4d184","34a86ce1.3591a4"],"x":975,"y":300,"wires":[["4267054.338c97c","fb41b86.579e5c8"]]},{"id":"15831bce.904c04","type":"switch","z":"cf2cd867.97a3b","name":"filter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"node_red.fallback","vt":"str"},{"t":"eq","v":"node_red.converse","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":320,"wires":[["b5970ab2.789948"],["b5970ab2.789948"]]},{"id":"b42fbf87.c959c8","type":"comment","z":"cf2cd867.97a3b","name":"Messages from Mycroft","info":"Incoming JSON payloads from Mycroft (STT) to Node-Red\n\n\n\t{\"type\": \"node_red.fallback\", \"data\": {\"utterance\": \"<text of utterance>\", \"norm_utt\": \"echo\", \"lang\": \"en-US\"}, \"context\": \t{\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}\n\n\n\t{\"type\": \"node_red.converse\", \"data\": {\"utterance\": \"<text of utterance>\"}, \"context\": {\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}","x":420,"y":220,"wires":[]},{"id":"39cf9610.30fd2a","type":"debug","z":"cf2cd867.97a3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":260,"wires":[]},{"id":"50c309a2.7046b8","type":"comment","z":"cf2cd867.97a3b","name":"Messages to Mycroft","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\t{\"type\": \"node_red.answer\", \"data\": {\"utterance\": \"<answer from skill>\"},\"context\": {}}\n\n\t{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"<text of origional utterance>\"}, \"context\":{}}'}\n","x":1110,"y":240,"wires":[]},{"id":"fb41b86.579e5c8","type":"debug","z":"cf2cd867.97a3b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":280,"wires":[]},{"id":"3adfc4bf.a4fc94","type":"json","z":"cf2cd867.97a3b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":320,"wires":[["15831bce.904c04","5090773d.e8143"]]},{"id":"5090773d.e8143","type":"link out","z":"cf2cd867.97a3b","name":"mycroft_in","links":["c616e654.138458"],"x":435,"y":380,"wires":[]},{"id":"b5970ab2.789948","type":"function","z":"cf2cd867.97a3b","name":"extract utterance","func":"var msg = {payload: msg.payload.data.utterance};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n\"coord\": {\n\"lon\": -110.9,\n\"lat\": 32.3\n},\n\"weather\": [\n{\n\"id\": 800,\n\"main\": \"Clear\",\n\"description\": \"clear sky\",\n\"icon\": \"01d\"\n}\n],\n\"base\": \"stations\",\n\"main\": {\n\"temp\": 98.31,\n\"feels_like\": 94.05,\n\"temp_min\": 98.01,\n\"temp_max\": 99,\n\"pressure\": 1015,\n\"humidity\": 11\n},\n\"wind\": {\n\"speed\": 1.99,\n\"deg\": 337,\n\"gust\": 5.01\n},\n\"clouds\": {\n\"all\": 0\n},\n\"dt\": 1588193187,\n\"sys\": {\n\"type\": 3,\n\"id\": 2007774,\n\"country\": \"US\",\n\"sunrise\": 1588163906,\n\"sunset\": 1588212184\n},\n\"timezone\": -25200,\n\"id\": 5288786,\n\"name\": \"Catalina Foothills\",\n\"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":650,"y":320,"wires":[["c0e602.a74a2a","c025302d.467a7"]]},{"id":"c025302d.467a7","type":"debug","z":"cf2cd867.97a3b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":240,"wires":[]},{"id":"1304b726.2ed479","type":"websocket-listener","z":"","path":"ws://nodered:KEY@127.0.0.1:6789","wholemsg":"false"}]