sample_flows/debug.txt
[{"id":"d5823e31.8fb2e","type":"tab","label":"Debug","disabled":false,"info":""},{"id":"fe43b8e9.0dea3","type":"link out","z":"d5823e31.8fb2e","name":"","links":["f36232d5.393168"],"x":675,"y":260,"wires":[]},{"id":"10dbde09.8f9ae2","type":"comment","z":"d5823e31.8fb2e","name":"send node_red.query  to ask a question to mycroft","info":"","x":300,"y":80,"wires":[]},{"id":"9f9a5986.ee9f6","type":"template","z":"d5823e31.8fb2e","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.speak\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {\n\"destination\": \"audio\"\n}\n}","output":"str","x":390,"y":220,"wires":[["fe43b8e9.0dea3"]]},{"id":"9211d280.7ffb7","type":"inject","z":"d5823e31.8fb2e","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":220,"wires":[["9f9a5986.ee9f6"]]},{"id":"5100c860.f01b58","type":"template","z":"d5823e31.8fb2e","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.query\",\n\"data\": {\n\"utterances\": [\n\"{{payload}}\"\n]\n},\n\"context\": {\n\"destination\": \"skills\"\n}\n}","output":"str","x":420,"y":120,"wires":[["fe43b8e9.0dea3"]]},{"id":"19a6c10.d134a3f","type":"inject","z":"d5823e31.8fb2e","name":"query hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":120,"wires":[["5100c860.f01b58"]]},{"id":"7ff6e367.826af4","type":"template","z":"d5823e31.8fb2e","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.activate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":390,"y":460,"wires":[["fe43b8e9.0dea3"]]},{"id":"76a20527.d7ebc4","type":"inject","z":"d5823e31.8fb2e","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":460,"wires":[["7ff6e367.826af4"]]},{"id":"62248b2c.d9668c","type":"template","z":"d5823e31.8fb2e","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.deactivate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":380,"y":420,"wires":[["fe43b8e9.0dea3"]]},{"id":"5cfb3123.64e49","type":"inject","z":"d5823e31.8fb2e","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":420,"wires":[["62248b2c.d9668c"]]},{"id":"66904bba.ba2bc4","type":"comment","z":"d5823e31.8fb2e","name":"broadcast an utterance (TTS will be executed)","info":"","x":310,"y":180,"wires":[]},{"id":"990073dd.c151d8","type":"comment","z":"d5823e31.8fb2e","name":"node-red priority settings (converse on/off)","info":"","x":300,"y":380,"wires":[]},{"id":"154d7fc7.635f48","type":"template","z":"d5823e31.8fb2e","name":"mic_listen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.listen\",\n\"data\": {\n},\n\"context\": {\n\"destination\": \"audio\"\n}\n}","output":"str","x":420,"y":320,"wires":[["fe43b8e9.0dea3"]]},{"id":"6906af32.04aa9","type":"inject","z":"d5823e31.8fb2e","name":"listen","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":320,"wires":[["154d7fc7.635f48"]]},{"id":"b4c72641.a34b6","type":"comment","z":"d5823e31.8fb2e","name":"make mycroft listen","info":"","x":290,"y":280,"wires":[]}]