sample_flows/intents.txt
[{"id":"f2ca54e7.210ee8","type":"tab","label":"Intents","disabled":false,"info":""},{"id":"da08c195.0e497","type":"comment","z":"f2ca54e7.210ee8","name":"Handle Intents here","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\t{\"type\": \"node_red.answer\", \"data\": {\"utterance\": \"<answer from skill>\"},\"context\": {}}\n\n\t{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"<text of origional utterance>\"}, \"context\":{}}'}\n","x":450,"y":140,"wires":[]},{"id":"6a27c4c0.0dd7d4","type":"switch","z":"f2ca54e7.210ee8","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":260,"wires":[["6c1070dd.6c6598"],["92f14299.41bbc"],["2d602e25.ceaf7a"]]},{"id":"d58f5eba.01b87","type":"link in","z":"f2ca54e7.210ee8","name":"intents-in","links":["c0e602.a74a2a"],"x":135,"y":260,"wires":[["6a27c4c0.0dd7d4","7949b901.b024f8"]]},{"id":"4b81b78c.4d184","type":"link out","z":"f2ca54e7.210ee8","name":"","links":["f36232d5.393168"],"x":1135,"y":260,"wires":[]},{"id":"92f14299.41bbc","type":"http request","z":"f2ca54e7.210ee8","name":"http weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":280,"wires":[["8d495ce8.71306"]]},{"id":"8d495ce8.71306","type":"function","z":"f2ca54e7.210ee8","name":"select","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n\"coord\": {\n\"lon\": -110.9,\n\"lat\": 32.3\n},\n\"weather\": [\n{\n\"id\": 800,\n\"main\": \"Clear\",\n\"description\": \"clear sky\",\n\"icon\": \"01d\"\n}\n],\n\"base\": \"stations\",\n\"main\": {\n\"temp\": 98.31,\n\"feels_like\": 94.05,\n\"temp_min\": 98.01,\n\"temp_max\": 99,\n\"pressure\": 1015,\n\"humidity\": 11\n},\n\"wind\": {\n\"speed\": 1.99,\n\"deg\": 337,\n\"gust\": 5.01\n},\n\"clouds\": {\n\"all\": 0\n},\n\"dt\": 1588193187,\n\"sys\": {\n\"type\": 3,\n\"id\": 2007774,\n\"country\": \"US\",\n\"sunrise\": 1588163906,\n\"sunset\": 1588212184\n},\n\"timezone\": -25200,\n\"id\": 5288786,\n\"name\": \"Catalina Foothills\",\n\"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":750,"y":280,"wires":[["c54c2b49.ee60c"]]},{"id":"c54c2b49.ee60c","type":"template","z":"f2ca54e7.210ee8","name":"weather utterance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.speak\",\n\"data\": {\n\"utterance\": \"Node-Red says the temperature is {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":950,"y":280,"wires":[["4b81b78c.4d184"]]},{"id":"6c1070dd.6c6598","type":"http request","z":"f2ca54e7.210ee8","name":"http news rss","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":220,"wires":[["3de24f85.eab52"]]},{"id":"3de24f85.eab52","type":"xml","z":"f2ca54e7.210ee8","name":"format","property":"payload","attr":"","chr":"","x":690,"y":220,"wires":[["5c95081b.644ef"]]},{"id":"5c95081b.644ef","type":"function","z":"f2ca54e7.210ee8","name":"select","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\nreturn [msg1, msg2];\n\n// attach a debug node to previous node to look at\n// news feed results","outputs":"1","noerr":0,"x":810,"y":220,"wires":[["e0a5e2fa.ef3f4"]]},{"id":"e0a5e2fa.ef3f4","type":"template","z":"f2ca54e7.210ee8","name":"news utterance","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.speak\",\n\"data\": {\n\"utterance\": \"The leading headline from The Verge, {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":960,"y":220,"wires":[["4b81b78c.4d184"]]},{"id":"7949b901.b024f8","type":"debug","z":"f2ca54e7.210ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":200,"wires":[]},{"id":"2d602e25.ceaf7a","type":"template","z":"f2ca54e7.210ee8","name":"intent failure","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.intent_failure\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":550,"y":360,"wires":[["34a86ce1.3591a4"]]},{"id":"34a86ce1.3591a4","type":"link out","z":"f2ca54e7.210ee8","name":"","links":["f36232d5.393168"],"x":675,"y":360,"wires":[]}]