sample_flows/minimal_flow.txt
[{"id":"2e49d814.090c88","type":"websocket in","z":"7997bcb2.6ce604","name":"mycroft-in","server":"2a549160.fb8576","client":"","x":80,"y":40,"wires":[["9c62994b.f89d88"]]},{"id":"dd543b26.714838","type":"websocket out","z":"7997bcb2.6ce604","name":"mycroft-out","server":"2a549160.fb8576","client":"","x":710,"y":40,"wires":[]},{"id":"8bece2bf.b882b","type":"switch","z":"7997bcb2.6ce604","name":"intent","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":240,"wires":[["b11da69.c1f5f58"],["95a006e1.fe9bf8"]]},{"id":"a235a57c.a0f588","type":"link out","z":"7997bcb2.6ce604","name":"mycroft-in","links":["63d69d49.eb3f9c"],"x":315,"y":40,"wires":[]},{"id":"45ae5a42.521c7c","type":"link in","z":"7997bcb2.6ce604","name":"mycroft-out","links":["b5d466bb.0c6508","6e264383.34f004","11d1a183.f39c2e"],"x":595,"y":40,"wires":[["dd543b26.714838","d5b740bc.8416f8"]]},{"id":"63d69d49.eb3f9c","type":"link in","z":"7997bcb2.6ce604","name":"","links":["a235a57c.a0f588"],"x":35,"y":240,"wires":[["8bece2bf.b882b"]]},{"id":"b5d466bb.0c6508","type":"link out","z":"7997bcb2.6ce604","name":"","links":["45ae5a42.521c7c"],"x":695,"y":300,"wires":[]},{"id":"9c62994b.f89d88","type":"switch","z":"7997bcb2.6ce604","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":40,"wires":[["a235a57c.a0f588","1c4f6687.d006c9"],["a235a57c.a0f588","1c4f6687.d006c9"]]},{"id":"a9683cdb.254538","type":"comment","z":"7997bcb2.6ce604","name":"------------ Hey Mycroft \"echo\" ------------","info":".","x":430,"y":240,"wires":[]},{"id":"dc2885b4.ff5b68","type":"comment","z":"7997bcb2.6ce604","name":"Messages from Mycroft","info":"Incoming JSON payloads from Mycroft (STT) to Node-Red\n\n\n\t{\"type\": \"node_red.fallback\", \"data\": {\"utterance\": \"<text of utterance>\", \"norm_utt\": \"echo\", \"lang\": \"en-US\"}, \"context\": \t{\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}\n\n\n\t{\"type\": \"node_red.converse\", \"data\": {\"utterance\": \"<text of utterance>\"}, \"context\": {\"client_name\": \"mycroft_listener\", \"source\": \"audio\", \"destination\": [\"skills\"]}}","x":400,"y":120,"wires":[]},{"id":"1c4f6687.d006c9","type":"debug","z":"7997bcb2.6ce604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":80,"wires":[]},{"id":"f08cf278.c5ee3","type":"comment","z":"7997bcb2.6ce604","name":"Messages to Mycroft","info":"Outgoing JSON payloads from Node-Red to to Mycroft (TTS)\n\n\t{\"type\": \"node_red.answer\", \"data\": {\"utterance\": \"<answer from skill>\"},\"context\": {}}\n\n\t{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"<text of origional utterance>\"}, \"context\":{}}'}\n","x":680,"y":120,"wires":[]},{"id":"d5b740bc.8416f8","type":"debug","z":"7997bcb2.6ce604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":80,"wires":[]},{"id":"b6427bd4.43f02","type":"template","z":"7997bcb2.6ce604","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\": {}, \"context\": {}}","output":"str","x":320,"y":460,"wires":[["11d1a183.f39c2e"]]},{"id":"db59951d.d6f6e","type":"inject","z":"7997bcb2.6ce604","name":"Enable Converse","topic":"","payload":"make node red a priority","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":460,"wires":[["b6427bd4.43f02"]]},{"id":"7abbf0ec.c0ffb","type":"template","z":"7997bcb2.6ce604","name":"activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\": {}, \"context\": {}}","output":"str","x":320,"y":420,"wires":[["11d1a183.f39c2e"]]},{"id":"e362132.33c907","type":"inject","z":"7997bcb2.6ce604","name":"Enable Fallback","topic":"","payload":"make node red fallback","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":420,"wires":[["7abbf0ec.c0ffb"]]},{"id":"fc0c34b5.1e2978","type":"comment","z":"7997bcb2.6ce604","name":"Node-Red Priority Settings","info":"Hey, Mycroft \"Make node red a priority\"\nIn converse mode, if Node-Red can not match an intent/utterance to a skill, the query is sent to Mycroft.\n    \n  The converse method is faster because the intents for your skills in Node-Red are scanned first.\n  \n  \nHey, Mycroft \"Make node red a fallback\"\nIn fallback mode, if Mycroft can not match an intent/utterance to a skill, the query is sent to Node-Red.\n\n  The fallback method is slower because Mycroft checks all installed skills/intents, if there is no match, then,\n  the intent is sent to Node-Red. ","x":130,"y":380,"wires":[]},{"id":"11d1a183.f39c2e","type":"link out","z":"7997bcb2.6ce604","name":"","links":["45ae5a42.521c7c"],"x":475,"y":460,"wires":[]},{"id":"95a006e1.fe9bf8","type":"json","z":"7997bcb2.6ce604","name":"format","property":"payload","action":"obj","pretty":false,"x":330,"y":300,"wires":[["f84b65b6.37238"]]},{"id":"f84b65b6.37238","type":"function","z":"7997bcb2.6ce604","name":"no intent match, ask Mycroft","func":"var utterance = msg.payload.data.utterance;\nvar uout = {payload:'{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"'+ utterance +'\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"say 1\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/\n\n","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["b5d466bb.0c6508"]]},{"id":"2edbe548.0cc472","type":"function","z":"7997bcb2.6ce604","name":"extract utterance","func":"var utterance = msg.payload.data.utterance;\nvar uout = {payload:'{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"'+ utterance +' from Node-Red\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"echo\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["b5d466bb.0c6508"]]},{"id":"b11da69.c1f5f58","type":"json","z":"7997bcb2.6ce604","name":"format","property":"payload","action":"obj","pretty":false,"x":330,"y":200,"wires":[["2edbe548.0cc472"]]},{"id":"2a549160.fb8576","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]