sample_flows/sample_flow.txt
[{"id":"aa016c30.344b2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1fddec9b.dbdd4b","type":"websocket in","z":"aa016c30.344b2","name":"mycroft-in","server":"efa22b60.3b1ce","client":"","x":200,"y":380,"wires":[["110ed090.032e47"]]},{"id":"7f89868b.6f6a28","type":"switch","z":"aa016c30.344b2","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ping node","vt":"str"},{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":550,"y":380,"wires":[[],["118ddcee.e8d433"],["52e9ae95.084f7"],["1ccae26b.bc9d06"],["497374db.097004"]]},{"id":"118ddcee.e8d433","type":"http request","z":"aa016c30.344b2","name":"http get news feed","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":300,"wires":[["25029487.dd84b4"]]},{"id":"25029487.dd84b4","type":"xml","z":"aa016c30.344b2","name":"format data","property":"payload","attr":"","chr":"","x":970,"y":300,"wires":[["8fb2acbf.3ed4f"]]},{"id":"8fb2acbf.3ed4f","type":"function","z":"aa016c30.344b2","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\nreturn [msg1, msg2];\n\n// attach a debug node to previous node to look at\n// news feed results","outputs":"1","noerr":0,"x":1130,"y":300,"wires":[["45ab5f80.323908"]]},{"id":"45ab5f80.323908","type":"template","z":"aa016c30.344b2","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"The leading headline from The Verge, {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":1340,"y":300,"wires":[["cbdfd524.974cd8"]]},{"id":"52e9ae95.084f7","type":"http request","z":"aa016c30.344b2","name":"http get weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":340,"wires":[["cc808baa.94c518"]]},{"id":"cc808baa.94c518","type":"function","z":"aa016c30.344b2","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg\n\n\n/* incoming payload to this node\n\n{\n\"coord\": {\n\"lon\": -110.9,\n\"lat\": 32.3\n},\n\"weather\": [\n{\n\"id\": 800,\n\"main\": \"Clear\",\n\"description\": \"clear sky\",\n\"icon\": \"01d\"\n}\n],\n\"base\": \"stations\",\n\"main\": {\n\"temp\": 98.31,\n\"feels_like\": 94.05,\n\"temp_min\": 98.01,\n\"temp_max\": 99,\n\"pressure\": 1015,\n\"humidity\": 11\n},\n\"wind\": {\n\"speed\": 1.99,\n\"deg\": 337,\n\"gust\": 5.01\n},\n\"clouds\": {\n\"all\": 0\n},\n\"dt\": 1588193187,\n\"sys\": {\n\"type\": 3,\n\"id\": 2007774,\n\"country\": \"US\",\n\"sunrise\": 1588163906,\n\"sunset\": 1588212184\n},\n\"timezone\": -25200,\n\"id\": 5288786,\n\"name\": \"Catalina Foothills\",\n\"cod\": 200\n}\n\n*/","outputs":"1","noerr":0,"x":1050,"y":340,"wires":[["cc24f51b.e7c34"]]},{"id":"cc24f51b.e7c34","type":"template","z":"aa016c30.344b2","name":"answer - json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"Node-Red says the temperature is {{payload}}\"\n},\n\"context\": {}\n}","output":"str","x":1340,"y":340,"wires":[["cbdfd524.974cd8"]]},{"id":"cbdfd524.974cd8","type":"websocket out","z":"aa016c30.344b2","name":"mycroft-out","server":"efa22b60.3b1ce","client":"","x":1590,"y":400,"wires":[]},{"id":"88115d61.b3cb2","type":"comment","z":"aa016c30.344b2","name":"send node_red.query  to ask a question to mycroft","info":"","x":370,"y":740,"wires":[]},{"id":"15e01366.ab793d","type":"template","z":"aa016c30.344b2","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.answer\",\n\"data\": {\n\"utterance\": \"{{payload}}\"\n},\n\"context\": {\n\"destination\": \"audio\"\n}\n}","output":"str","x":470,"y":880,"wires":[["2984e4cd.ec4d44"]]},{"id":"cae8bbc7.c5f88","type":"inject","z":"aa016c30.344b2","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":880,"wires":[["15e01366.ab793d"]]},{"id":"68c92c24.f1ff64","type":"debug","z":"aa016c30.344b2","name":"mycroft answers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":600,"wires":[]},{"id":"89fd5dd4.c8da1","type":"template","z":"aa016c30.344b2","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.query\",\n\"data\": {\n\"utterances\": [\n\"{{payload}}\"\n]\n},\n\"context\": {\n\"destination\": \"skills\"\n}\n}","output":"str","x":500,"y":780,"wires":[["2984e4cd.ec4d44"]]},{"id":"3bfa10ce.6fdfe","type":"inject","z":"aa016c30.344b2","name":"query hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":260,"y":780,"wires":[["89fd5dd4.c8da1"]]},{"id":"3decac5c.35cdac","type":"debug","z":"aa016c30.344b2","name":"payload to mycroft","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":580,"wires":[]},{"id":"195f376b.2b8c61","type":"template","z":"aa016c30.344b2","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.activate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":470,"y":1020,"wires":[["2984e4cd.ec4d44"]]},{"id":"28f2d8a1.65994","type":"inject","z":"aa016c30.344b2","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1020,"wires":[["195f376b.2b8c61"]]},{"id":"d683e8c3.48a8c","type":"template","z":"aa016c30.344b2","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.converse.deactivate\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":460,"y":980,"wires":[["2984e4cd.ec4d44"]]},{"id":"fada2565.3be75","type":"inject","z":"aa016c30.344b2","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":980,"wires":[["d683e8c3.48a8c"]]},{"id":"818ceb43.8a2d","type":"debug","z":"aa016c30.344b2","name":"converse in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":560,"wires":[]},{"id":"da51fd1d.39572","type":"template","z":"aa016c30.344b2","name":"pong_broadcast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n\"type\": \"node_red.pong\",\n\"data\": {},\n\"context\": {}\n}","output":"str","x":600,"y":220,"wires":[["18493582.a98a12"]],"icon":"font-awesome/fa-thumbs-up"},{"id":"faa6bf05.e7e798","type":"comment","z":"aa016c30.344b2","name":"converse - check node-red for skills first","info":"","x":340,"y":560,"wires":[]},{"id":"9177f747.072298","type":"comment","z":"aa016c30.344b2","name":"fallback - if no skill match in mycroft check node red","info":"","x":310,"y":520,"wires":[]},{"id":"110ed090.032e47","type":"switch","z":"aa016c30.344b2","name":"message_filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.ping\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"},{"t":"cont","v":"\"type\": \"speak\"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":380,"y":380,"wires":[["da51fd1d.39572"],["7f89868b.6f6a28","a8ecb6b1.aa9728"],["7f89868b.6f6a28","818ceb43.8a2d"],["68c92c24.f1ff64"],["c06f5738.6924c"]]},{"id":"1b289a4f.fb7d76","type":"comment","z":"aa016c30.344b2","name":"test if node red is connected","info":"","x":640,"y":180,"wires":[]},{"id":"d59308f9.7b2ea8","type":"comment","z":"aa016c30.344b2","name":"broadcast an utterance (TTS will be executed)","info":"","x":380,"y":840,"wires":[]},{"id":"11835a4e.5d8a16","type":"comment","z":"aa016c30.344b2","name":"node-red priority settings (converse on/off)","info":"","x":400,"y":940,"wires":[]},{"id":"c06f5738.6924c","type":"debug","z":"aa016c30.344b2","name":"other mycroft messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":640,"wires":[]},{"id":"bb8105e.4a4fdf8","type":"comment","z":"aa016c30.344b2","name":"No intent match in node-red, allow mycroft to answer","info":"","x":1010,"y":460,"wires":[]},{"id":"a8ecb6b1.aa9728","type":"debug","z":"aa016c30.344b2","name":"fallback in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":520,"wires":[]},{"id":"2bdcbd93.079a5a","type":"link in","z":"aa016c30.344b2","name":"mycroft-out","links":["2984e4cd.ec4d44","18493582.a98a12"],"x":1395,"y":540,"wires":[["cbdfd524.974cd8","3decac5c.35cdac"]]},{"id":"2984e4cd.ec4d44","type":"link out","z":"aa016c30.344b2","name":"","links":["2bdcbd93.079a5a"],"x":655,"y":880,"wires":[]},{"id":"18493582.a98a12","type":"link out","z":"aa016c30.344b2","name":"","links":["2bdcbd93.079a5a"],"x":775,"y":220,"wires":[]},{"id":"497374db.097004","type":"json","z":"aa016c30.344b2","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":460,"wires":[["f09f817a.eafd18"]]},{"id":"f09f817a.eafd18","type":"function","z":"aa016c30.344b2","name":"extract utterance","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:'{\"type\": \"node_red.intent_failure\", \"data\":{\"utterance\" : \"'+ utterance +'\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"say 1\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/\n\n","outputs":1,"noerr":0,"x":1330,"y":460,"wires":[["cbdfd524.974cd8"]]},{"id":"1ccae26b.bc9d06","type":"json","z":"aa016c30.344b2","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":380,"wires":[["e6ecd1e1.4737a8"]]},{"id":"e6ecd1e1.4737a8","type":"function","z":"aa016c30.344b2","name":"extract utterance","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:'{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"'+ utterance +'\"}, \"context\":{}}'}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"echo\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/","outputs":1,"noerr":0,"x":1330,"y":380,"wires":[["cbdfd524.974cd8"]]},{"id":"863f3020.5699","type":"comment","z":"aa016c30.344b2","name":"test intents, say:","info":"","x":230,"y":140,"wires":[]},{"id":"91d314a6.8b359","type":"comment","z":"aa016c30.344b2","name":" ------------------------------------------------------- skills -------------------------------------------------------","info":"","x":1040,"y":260,"wires":[]},{"id":"2415191f.fe0c3e","type":"comment","z":"aa016c30.344b2","name":"verge","info":"","x":250,"y":180,"wires":[]},{"id":"6b055662.98b298","type":"comment","z":"aa016c30.344b2","name":"echo","info":"","x":250,"y":220,"wires":[]},{"id":"b0921755.51e8f8","type":"comment","z":"aa016c30.344b2","name":"weather","info":"","x":250,"y":260,"wires":[]},{"id":"efa22b60.3b1ce","type":"websocket-listener","z":"","path":"ws://nodered:unsafe@127.0.0.1:6789","wholemsg":"false"}]