sample_flows/sample_flow.txt
[{"id":"10ba2c5b.a40b5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14045b08.c1ac6d","type":"websocket in","z":"10ba2c5b.a40b5c","name":"mycroft-messages","server":"5713e639.64432","client":"","x":90,"y":480,"wires":[["cd9fd7.4e935828"]]},{"id":"fd367346.fada08","type":"switch","z":"10ba2c5b.a40b5c","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"verge","vt":"str"},{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"echo","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":460,"wires":[["6d8c85fe.d7a804"],["d666c5de.b5f69"],["15d685cb.f40c7a"],["f7b220c3.dfd91"]]},{"id":"6d8c85fe.d7a804","type":"http request","z":"10ba2c5b.a40b5c","name":"http get news feed","method":"GET","ret":"txt","paytoqs":false,"url":"http://www.theverge.com/rss/full.xml","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":180,"wires":[["12558d7a.23e93b"]]},{"id":"12558d7a.23e93b","type":"xml","z":"10ba2c5b.a40b5c","name":"format feed","attr":"","chr":"","x":1190,"y":180,"wires":[["a7d32d50.46bf5"]]},{"id":"a7d32d50.46bf5","type":"function","z":"10ba2c5b.a40b5c","name":"select data","func":"var msg1 = {payload: msg.payload.feed.entry[0].title};\nvar msg2 = {payload: msg.payload.feed.entry[1].title};\n\n\nreturn [msg1, msg2];","outputs":"1","noerr":0,"x":1430,"y":180,"wires":[["59d5b803.bc7058"]]},{"id":"59d5b803.bc7058","type":"template","z":"10ba2c5b.a40b5c","name":"answer - json response","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \n\"data\":{\"utterance\": \"The leading headline from The Verge, {{payload}}\"}, \n\"context\":{}}","output":"str","x":1670,"y":180,"wires":[["bc0478c5.3e3d8"]]},{"id":"d666c5de.b5f69","type":"http request","z":"10ba2c5b.a40b5c","name":"http get weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=32.3&lon=-110.9&units=imperial&APPID=bb7088d09238c0f78fc90d2294812257","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":260,"wires":[["7e916aa6.cf3b24"]]},{"id":"7e916aa6.cf3b24","type":"function","z":"10ba2c5b.a40b5c","name":"select data","func":"var msg = {payload: msg.payload.main.temp};\nreturn msg","outputs":"1","noerr":0,"x":1330,"y":260,"wires":[["bddcec4c.bb1b88"]]},{"id":"bddcec4c.bb1b88","type":"template","z":"10ba2c5b.a40b5c","name":"answer - json response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \n\"data\":{\"utterance\": \"the temp is {{payload}}\"}, \n\"context\":{}}","output":"str","x":1670,"y":260,"wires":[["bc0478c5.3e3d8"]]},{"id":"f7b220c3.dfd91","type":"template","z":"10ba2c5b.a40b5c","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \n\"data\":{}, \n\"context\":{}}","output":"str","x":1660,"y":480,"wires":[["bc0478c5.3e3d8"]]},{"id":"bc0478c5.3e3d8","type":"function","z":"10ba2c5b.a40b5c","name":"generate payload","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1970,"y":360,"wires":[["25625ae5.1e3d6e","4b60410d.b52da"]]},{"id":"25625ae5.1e3d6e","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":2270,"y":320,"wires":[]},{"id":"ae05e5ab.3cef","type":"comment","z":"10ba2c5b.a40b5c","name":"send node_red.query  to ask a question to mycroft","info":"","x":1200,"y":620,"wires":[]},{"id":"391cb80a.a1fe58","type":"template","z":"10ba2c5b.a40b5c","name":"speak_broadcast","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \n\"data\":{\"utterance\" : \"{{payload}}\"}, \n\"context\":{\"destination\": \"audio\"}}","output":"str","x":1210,"y":820,"wires":[["fc69c06c.a9f7f"]]},{"id":"38aa169e.14866a","type":"inject","z":"10ba2c5b.a40b5c","name":"say hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":980,"y":820,"wires":[["391cb80a.a1fe58"]]},{"id":"fc69c06c.a9f7f","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":1430,"y":820,"wires":[]},{"id":"4fad78e0.ede338","type":"debug","z":"10ba2c5b.a40b5c","name":"mycroft answers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":680,"wires":[]},{"id":"6ab4c985.2745b8","type":"template","z":"10ba2c5b.a40b5c","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \n\"data\":{\"utterances\" : [\"{{payload}}\"]}, \n\"context\":{\"destination\": \"skills\"}}","output":"str","x":1220,"y":680,"wires":[["939c3089.eec6"]]},{"id":"4b83180a.8cbde8","type":"inject","z":"10ba2c5b.a40b5c","name":"query hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":1020,"y":680,"wires":[["6ab4c985.2745b8"]]},{"id":"939c3089.eec6","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":1410,"y":680,"wires":[]},{"id":"4b60410d.b52da","type":"debug","z":"10ba2c5b.a40b5c","name":"mycroft out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2270,"y":400,"wires":[]},{"id":"15d685cb.f40c7a","type":"template","z":"10ba2c5b.a40b5c","name":"answer - json response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \n\"data\":{\"utterance\": \"this is the echo\"}, \n\"context\":{}}","output":"str","x":1010,"y":360,"wires":[["bc0478c5.3e3d8"]]},{"id":"5966cd8f.f95d04","type":"template","z":"10ba2c5b.a40b5c","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\":{}, \"context\":{}}","output":"str","x":1210,"y":1040,"wires":[["2b89e013.703ea"]]},{"id":"59c3c4c6.e7e8c4","type":"inject","z":"10ba2c5b.a40b5c","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":980,"y":1040,"wires":[["5966cd8f.f95d04"]]},{"id":"2b89e013.703ea","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":1450,"y":1040,"wires":[]},{"id":"ff228693.67811","type":"template","z":"10ba2c5b.a40b5c","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":1220,"y":960,"wires":[["f8fca969.37cde"]]},{"id":"c0af0c32.bd02","type":"inject","z":"10ba2c5b.a40b5c","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":980,"y":960,"wires":[["ff228693.67811"]]},{"id":"f8fca969.37cde","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":1450,"y":960,"wires":[]},{"id":"2c1525b4.423042","type":"debug","z":"10ba2c5b.a40b5c","name":"converse in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":600,"wires":[]},{"id":"b82550d1.a092","type":"template","z":"10ba2c5b.a40b5c","name":"pong_broadcast","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"type\": \"node_red.pong\", \n\"data\":{}, \n\"context\":{}}","output":"str","x":520,"y":240,"wires":[["10ba8017.6d1bc8"]],"icon":"font-awesome/fa-thumbs-up"},{"id":"817c4212.ced658","type":"websocket out","z":"10ba2c5b.a40b5c","name":"mycroft-out","server":"","client":"869818e0.3f72a","x":990,"y":60,"wires":[]},{"id":"559cca1a.6d41d4","type":"comment","z":"10ba2c5b.a40b5c","name":"happens before mycroft intents","info":"","x":670,"y":560,"wires":[]},{"id":"9b19f3a8.3596c","type":"comment","z":"10ba2c5b.a40b5c","name":"happens after mycroft intents","info":"","x":620,"y":340,"wires":[]},{"id":"cd9fd7.4e935828","type":"switch","z":"10ba2c5b.a40b5c","name":"message_filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"type\": \"node_red.ping\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.fallback\"","vt":"str"},{"t":"cont","v":"\"type\": \"node_red.converse\"","vt":"str"},{"t":"cont","v":"\"type\": \"speak\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":300,"y":480,"wires":[["b82550d1.a092"],["4edbe788.780408","fd367346.fada08"],["2c1525b4.423042","fd367346.fada08"],["4fad78e0.ede338"],["1c2bc6ef.f9a2e1"]]},{"id":"d6f99b31.7a456","type":"comment","z":"10ba2c5b.a40b5c","name":"test if node red is connected","info":"","x":480,"y":180,"wires":[]},{"id":"b05b90d8.3e915","type":"comment","z":"10ba2c5b.a40b5c","name":"broadcast an utterance (TTS will be executed)","info":"","x":1210,"y":760,"wires":[]},{"id":"c046f7b0.f289b8","type":"comment","z":"10ba2c5b.a40b5c","name":"mycroft node red skill controls","info":"","x":1220,"y":900,"wires":[]},{"id":"1c2bc6ef.f9a2e1","type":"debug","z":"10ba2c5b.a40b5c","name":"other mycroft messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":760,"wires":[]},{"id":"11be4e8c.ee2909","type":"comment","z":"10ba2c5b.a40b5c","name":"allow mycroft to answer","info":"","x":1420,"y":440,"wires":[]},{"id":"4edbe788.780408","type":"debug","z":"10ba2c5b.a40b5c","name":"fallback in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":380,"wires":[]},{"id":"10ba8017.6d1bc8","type":"function","z":"10ba2c5b.a40b5c","name":"generate payload","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":750,"y":140,"wires":[["817c4212.ced658"]]},{"id":"7421ff78.bc9d8","type":"comment","z":"10ba2c5b.a40b5c","name":"intercept the utterance","info":"","x":1380,"y":120,"wires":[]},{"id":"5713e639.64432","type":"websocket-listener","z":"","path":"ws://nodered.fallback:unsafe@127.0.0.1:6789","wholemsg":"false"},{"id":"869818e0.3f72a","type":"websocket-client","z":"","path":"ws://nodered.out:unsafe@127.0.0.1:6789","tls":"","wholemsg":"false"}]