sample_flows/web_chat_flow.txt
[{"id":"9c1e3668.5f7b78","type":"tab","label":"web_chat","disabled":false,"info":""},{"id":"a6d375e.5a77d88","type":"ui_text_input","z":"9c1e3668.5f7b78","name":"","label":"","tooltip":"","group":"43e2b615.4ef62","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":340,"y":400,"wires":[["2e177c19.f50f34"]]},{"id":"e5671bc5.1d6428","type":"ui_text","z":"9c1e3668.5f7b78","group":"43e2b615.4ef62","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":830,"y":320,"wires":[]},{"id":"2e177c19.f50f34","type":"template","z":"9c1e3668.5f7b78","name":"query json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":610,"y":400,"wires":[["2c755067.fb9e38"]]},{"id":"f094dfd5.cc6a","type":"switch","z":"9c1e3668.5f7b78","name":"speak filter","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"speak","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":320,"wires":[["f68f6384.50dfe8"]]},{"id":"f68f6384.50dfe8","type":"function","z":"9c1e3668.5f7b78","name":"extract","func":"var utterance = msg.payload.data.utterance;\n\nvar uout = {payload:utterance}\n\nreturn uout;\n\n\n/* incoming payload to this node\n\n{\n\"type\": \"node_red.converse\",\n\"data\": {\n\"utterance\": \"echo\"\n},\n\"context\": {\n\"client_name\": \"mycroft_cli\",\n\"source\": \"debug_cli\",\n\"destination\": [\n\"skills\"\n]\n}\n}\n\n*/","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["e5671bc5.1d6428"]]},{"id":"2c755067.fb9e38","type":"link out","z":"9c1e3668.5f7b78","name":"","links":["f36232d5.393168"],"x":875,"y":400,"wires":[]},{"id":"c616e654.138458","type":"link in","z":"9c1e3668.5f7b78","name":"chat_in","links":["5090773d.e8143"],"x":295,"y":320,"wires":[["f094dfd5.cc6a"]]},{"id":"43e2b615.4ef62","type":"ui_group","z":"","name":"Mycroft","tab":"68d2c379.6a7e9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"68d2c379.6a7e9c","type":"ui_tab","z":"","name":"NodeRed HiveMind","icon":"dashboard","disabled":false,"hidden":false}]