sample_flows/web_chat_flow.txt
[{"id":"aa016c30.344b2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"eb3cae6f.61ee68","type":"ui_text_input","z":"aa016c30.344b2","name":"","label":"","tooltip":"","group":"ca24c582.cfa008","order":2,"width":"6","height":"2","passthru":false,"mode":"text","delay":"0","topic":"","x":805.7142715454102,"y":664.285680770874,"wires":[["c0a211a1.670ce"]]},{"id":"ecf68a09.054d7","type":"ui_text","z":"aa016c30.344b2","group":"ca24c582.cfa008","order":1,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1515.7142753601074,"y":584.2857055664062,"wires":[]},{"id":"49bfcff9.387ce","type":"string","z":"aa016c30.344b2","name":"","methods":[{"name":"between","params":[{"type":"str","value":"\"utterance\": \""},{"type":"str","value":"\""}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":1285.7142715454102,"y":584.2857189178467,"wires":[["ecf68a09.054d7"]]},{"id":"c0a211a1.670ce","type":"template","z":"aa016c30.344b2","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":1081.4285278320312,"y":662.8571510314941,"wires":[["793a5e9f.7507a8"]]},{"id":"793a5e9f.7507a8","type":"websocket out","z":"aa016c30.344b2","name":"mycroft-out","server":"","client":"9f9d9d75.4b71f","x":1348.4285125732422,"y":663.3571739196777,"wires":[]},{"id":"e77b5968.418","type":"websocket in","z":"aa016c30.344b2","name":"mycroft-messages","server":"5713e639.64432","client":"","x":821.4285507202148,"y":584.285717010498,"wires":[["3fd0a1f7.b839fe"]]},{"id":"3fd0a1f7.b839fe","type":"switch","z":"aa016c30.344b2","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","outputs":1,"x":1083.7143173217773,"y":585.9286098480225,"wires":[["49bfcff9.387ce"]]},{"id":"ca24c582.cfa008","type":"ui_group","z":"","name":"Mycroft","tab":"3addb0c9.06677","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f9d9d75.4b71f","type":"websocket-client","z":"","path":"ws://nodered.chat:unsafe@127.0.0.1:6789","tls":"","wholemsg":"false"},{"id":"5713e639.64432","type":"websocket-listener","z":"","path":"ws://nodered.chat:unsafe@127.0.0.1:6789","wholemsg":"false"},{"id":"3addb0c9.06677","type":"ui_tab","z":"","name":"NodeRed HiveMind","icon":"dashboard","disabled":false,"hidden":false}]